# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.cache\*
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
node_modules
target/
node
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
projectName.iml
/*.classpath
/.classpath
/.springBeans
*.DS_Store
*.iml
/build
/local.properties
.mvn/wrapper/maven-wrapper.properties

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

.vueReact/mon-app/node_modules
.vueReact/mon-app/.pnp
.vueReact/mon-app.pnp.js

# testing
.vueReact/mon-app/coverage

# production
.vueReact/mon-app/build

# misc
.vueReact/mon-app/.DS_Store
.vueReact/mon-app/.env.local
.vueReact/mon-app/.env.development.local
*.env.test.local
*.env.production.local

*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
/.cache/
.cache/07/6a0b5167f7c703264b7100b6639599.json
.cache/1e/99edc49dbe203c5340b2aa46fbcefb.json
.cache/fd/db24ccc10b1ba1828cbb0ee64f0835.json
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
