html{
  overflow:hidden !important;
}
body {
  background-color: #C5ACFF;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.navbar{
  background-color: #101654 !important;
}
.box{
  background-color: #101654 !important;
}

.resolution{
  background-color: #6F8AB7 !important;
}

.resoltions{
  max-height: 60vh;
  overflow-y: scroll;
  background-color: #101654 !important;
}

.boxGit{
  display: grid;
  grid-template-columns: 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px;
  grid-template-rows: 13px 13px 13px 13px 13px 13px 13px;
  gap: 4px 4px;
  grid-auto-flow: column;
  grid-template-areas:
  ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
  ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
  ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
  ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
  ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
  ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
  ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.case{
  border-radius: 2px;
}

.lv1{
  background-color: #0C0311;
}
.lv2{
  background-color: #4A1269;
}
.lv3{
  background-color: #7C1EAE;
}
.lv4{
  background-color: #BF73E7;
}
.lv5{
  background-color: #F7EEFC;
}

.footer{
  position:fixed;
  bottom:0;
  width: 100% !important;
  background-color: #101654 !important;
}

.home{
  max-height: 50vh;
  overflow-y: scroll;
  background-color: #101654 !important;
}


.dropdown-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6F8AB7 !important;
}

.is-success{
  background-color: #6F8AB7 !important;
  border: 2px solid black !important;
}

  /* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  border: 1px solid #F1FFFA;
  background: #C5ACFF;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #F1FFFA;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F1FFFA;
}