html{
  overflow:hidden !important;
}
body {
  background-color: #AB87FF;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.navbar{
  background-color: #104F55 !important;
}
.box{
  background-color: #104F55 !important;
}

.footer{
  position:fixed;
  bottom:0;
  width: 100% !important;
  background-color: #104F55 !important;
}
.scrollBox{
  max-height: 70vh;
  overflow-x: hidden;
}

.loggedIn{
  font-size: 1.5rem;
  float: right;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border: 1px solid #F1FFFA;
  background: #AB87FF;
}

::-webkit-scrollbar-thumb {
  background: #F1FFFA;
}

::-webkit-scrollbar-thumb:hover {
  background: #F1FFFA;
}